*~
*.orig
*.rej
.idea
.vagrant
.tox
webapp/content/
*.log
*.pyc
env
venv
virtualenv
.git
*.swp
*.swo
**/.sass-cache
**/.tmp
**/dist
**/node_modules
.coverage*
_build
htmlcov
pip_cache
*.egg-info
*.db
*.pid
build/
dev/var/
figment*/
repobuild/lists
repobuild/dists
repobuild/pool
repobuild/db
install_salt.sh
