
[cthulhu]

plugin_path = {{calamari_root}}/cthulhu/tests/plugins/
salt_config_path = {{calamari_root}}/dev/etc/salt/master
# FIXME: this should be a function of the ceph.heartbeat schedule period which
# we should query from the salt pillar
favorite_timeout_s = 60
db_path = sqlite:///{{calamari_root}}/dev/cthulhu.db
log_path = {{calamari_root}}/dev/cthulhu.log
log_level = DEBUG
rpc_url = tcp://127.0.0.1:5050
crush_host_type = host
crush_osd_type = osd
server_contact_threshold = 120
cluster_contact_threshold = 60
cluster_map_retention = 3600

[calamari_web]

log_path = {{calamari_root}}/dev/calamari.log
log_level = WARN
db_engine = django.db.backends.sqlite3
db_name = {{calamari_root}}/dev/frontend.db
db_user = ""
db_password = ""
db_host = ""
secret_key_path = {{calamari_root}}/dev/secret.key
username = {{calamari_user}}
static_root = {{calamari_root}}/webapp/content/

[graphite]

storage_path = {{calamari_root}}/env/storage
root = {{calamari_root}}/env
