
[cthulhu]

plugin_path = {{calamari_root}}/cthulhu/tests/plugins
salt_config_path = {{calamari_root}}/dev/etc/salt/master
alembic_config_path = {{calamari_root}}/dev/alembic.ini
db_path = postgresql://calamari:27HbZwr*g@localhost/calamari
log_path = {{calamari_root}}/dev/cthulhu.log
log_level = DEBUG
rpc_url = tcp://127.0.0.1:5050
crush_host_type = host
crush_osd_type = osd
cluster_map_retention = 3600
db_log_level = WARN
favorite_timeout_factor = 3
server_timeout_factor = 3
cluster_contact_threshold = 60
emit_events_to_salt_event_bus = False
event_tag_prefix = calamari/

[calamari_web]

log_path = {{calamari_root}}/dev/calamari.log
log_level = DEBUG
db_engine = django.db.backends.postgresql_psycopg2
db_name = calamari
db_user = calamari
db_password = 27HbZwr*g
db_host = localhost
db_port = 5432
secret_key_path = {{calamari_root}}/dev/secret.key
username = {{calamari_user}}
static_root = {{calamari_root}}/webapp/content/

[graphite]

root = {{venv}}
storage_path = {{venv}}/storage
