
[testing]

calamari_control = external
ceph_control = converged
bootstrap = False

cluster_distro = ubuntu

api_url = http://localhost:8002/api/v2/
api_username = admin
api_password = admin

embedded_timeout_factor = 1
external_timeout_factor = 3

external_cluster_path = {{calamari_root}}/../teuthology/archive/info.yaml
