Django==1.5.1
Markdown==2.3.1
argparse==1.2.1
django-filter==0.6
django-jsonfield==0.9.10
djangorestframework==2.3.12
requests==1.2.3
wsgiref==0.1.2
sqlalchemy==0.8.3
alembic==0.6.3
supervisor
django-nose==1.2
Sphinx==1.1.3
psycogreen==1.0
psycopg2==2.5.2
manhole==0.6.0

# This is only needed for development environments
# Frozen version because 2.1.0 is broken:
#   https://bitbucket.org/tarek/flake8/pull-request/39
https://bitbucket.org/megies/flake8-1/get/422dc5e.tar.gz
nose==1.3.0
mock==1.0.1
psutil==2.0.0

# Gevent 1.0.x requires cython but doesn't do a good job of depending on it
cython==0.19.2
gevent>=1.0
greenlet>=0.3.2

# Stock coverage doesn't play nicely with gevent
-e git+https://github.com/portante/coverage.git#egg=coverage

# Graphite and its friends
#pip install carbon --install-option="--prefix=$VIRTUAL_ENV" --install-option="--install-lib=$VIRTUAL_ENV/lib/python2.7/site-packages"
#pip install graphite-web --install-option="--prefix=$VIRTUAL_ENV" --install-option="--install-lib=$VIRTUAL_ENV/lib/python2.7/site-packages"
Twisted==11.1.0
django-tagging==0.3.1
-e git+https://github.com/graphite-project/whisper.git@a6e2176e#egg=whisper
pytz==2013.8

# Cthulhu
python-dateutil==2.2
zerorpc==0.4.4

# For minion-sim
diamond==3.4.421
