<div class="row span12 card">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li ng-class='entry.clazz' ng-repeat="entry in menus"><a href="{{entry.url}}">{{entry.label}}</a></li>
        </ul>
        <div class="tab-content">
            <h4>{{title}}</h4>
            <hr class='settings-separator'>
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox"/></th>
                        <th>Cluster Name</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="clusters in clusters">
                        <td><input type="checkbox" value="{{clusters.id}}"/></td>
                        <td>{{clusters.name}}</td>
                        <td>{{clusters.api_base_url}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn" type="button">Add</button>
            <button class="btn" type="button">Edit</button>
            <button class="btn" type="button">Remove</button>
        </div>
    </div>
</div>
