<h4>{{title}}
    <i ng-show="loading" class='icon-spinner icon-spin'></i>
    <i class='spacing-hack icon-ok'></i>
</h4>
<hr class='settings-separator'>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" />
            </th>
            <th>Cluster Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="clusters in clusters">
            <td>
                <input type="checkbox" value="{{clusters.id}}" />
            </td>
            <td>{{clusters.name}}</td>
            <td>{{clusters.api_base_url}}</td>
        </tr>
        <tr ng-show="!clusters.length">
            <td ng-click='openAdd()' colspan=3>
                Click Add To Add A Cluster
            </td>
        </tr>
    </tbody>
</table>
<button class="btn" ng-click="openEdit()" type="button"><i class='icon-edit'></i> Edit</button>
<button class="btn" ng-click="openAdd()" type="button"><i class='icon-plus'></i> Add</button>
<button class="btn" type="button"><i class='icon-minus'></i> Remove</button>
<div modal="addClusterOpen" close="closeAdd()" options="opts">
    <div class="modal-header">
        <h3><i class="icon-plus"></i> Add a Cluster</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label for="">Name</label>
                <input name="clusterName" type="text" placeholder="Name of Cluster" />
            </fieldset>
            <fieldset>
                <label for="">Cluster REST API URI</label>
                <input name="clusterAPI" type="text" placeholder="REST API URI" />
            </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="closeAdd()">Cancel</button>
            <button class="btn btn-success" ng-click="closeAdd()">Add</button>
        </div>
    </div>
</div>
<div modal="editClusterOpen" close="closeEdit()" options="opts">
    <div class="modal-header">
        <h3><i class="icon-edit"></i> Edit Cluster</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <label for="">Name</label>
                <input name="clusterName" type="text" value="{{cluster.name}}" placeholder="Name of Cluster" />
            </fieldset>
            <fieldset>
                <label for="">Cluster REST API URI</label>
                <input name="clusterAPI" type="text" value="{{cluster.uri}}" placeholder="REST API URI" />
            </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="closeEdit()">Cancel</button>
            <button class="btn btn-success" ng-click="closeEdit()">Edit</button>
        </div>
    </div>
</div>
