Source: calamari
Section: misc
Priority: extra
Homepage: http://www.inktank.com/
Maintainer: Dan Mick <dan.mick@inktank.com>
Standards-Version: 3.9.2
Build-Depends: libcairo2-dev, python-pip, libpq-dev, python-dev, python-virtualenv

Package: calamari-server
Architecture: all
Depends: apache2, libapache2-mod-wsgi, libcairo2, supervisor, logrotate, salt-master, salt-minion, python-cairo, libpq5, postgresql
Description: Inktank package containing the Calamari management srever
 Calamari is a webapp to monitor and control a Ceph cluster via a web
 browser.

