#!/usr/bin/make -f
%:
	dh $@ --with python2

DEBUPSTART = debian/calamari-restapi.cephrestapi.upstart
override_dh_installinit:
	install -m0644 restapi/init/cephrestapi.conf $(DEBUPSTART)
	dh_installinit --name=cephrestapi --upstart-only

override_dh_auto_clean:
	rm -f $(DEBUPSTART)
	dh_auto_clean
