@font-face {
	font-family: 'ApexSansMedium';
	font-style: normal;
	src: font-url('ApexSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'ApexSansLight';
	font-style: normal;
	src: font-url('ApexSans-Light.woff') format('woff');
}
