@import "bootstrap-sass/lib/bootstrap";
@import "inktank_fonts";
@import "admin";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "ApexSansMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

