<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="adminApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{pageTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser.
            <a href="http://browsehappy.com/">Upgrade your browser today</a>or
            <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <a class="brand" href="http://www.inktank.com"><img src="images/logo.png" alt="Inktank Logo" /></a>
            </ul>
            <button class='pull-right btn btn-danger dashboard-button' ng-click="dashboard()">Go to Dashboard</button>
        </div>
    </div>
    <div class="container">
        <div class="row card span12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': entry.url == '#/' + activeTab}" ng-repeat="entry in menus">
                        <a href="{{entry.url}}">{{entry.label}}</a>
                    </li>
                </ul>
                <div class='tab-content' ng-view=""></div>
            </div>
        </div>
    </div>
    <!-- build:js({.tmp,app}) scripts/angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/git.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/general.js"></script>
    <script src="scripts/controllers/cluster.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->
</body>
</html>
